
#appStyle {
  text-align: center;
  margin: auto 0;
  padding: 5.8em 1em 8.4em 1em;
  height: 253px;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0.05));
}

#titleStyle {
  text-align: center;
  margin: 1.5em 1em 24px;
  color: rgb(83, 83, 83);
}

#buttongroupStyle {
  display: flex;
  flex-direction: column;
  width: 10em;
  margin: 0 auto;
}

#confirmBtnStyle {
  border: 1px #ff4800 solid;
  border-radius: 0;
  margin-bottom: 0.5em;
  border-radius: 2px solid #2b2b2b;
  background-color: #ff4800;
  color: white;
}

#skipBtnStyle {
  background-color: white;
  border: 1px black solid;
  color: white;
  background-color: #2b2b2b;
}